USE [master]
GO
/****** Object:  Database [Thi_THPTQG]    Script Date: 8/8/2017 4:53:34 PM ******/
CREATE DATABASE [Thi_THPTQG] ON  PRIMARY 
( NAME = N'Thi_THPTQG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Thi_THPTQG.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Thi_THPTQG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Thi_THPTQG_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Thi_THPTQG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Thi_THPTQG]
GO
/****** Object:  Table [dbo].[CUMTHI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUMTHI](
	[macum] [char](3) NOT NULL,
	[tencum] [nvarchar](50) NOT NULL,
	[madp] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[macum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIADIEMTHI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIADIEMTHI](
	[macum] [char](3) NOT NULL,
	[diadiem] [nvarchar](100) NOT NULL,
	[phongthi] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DIADIEMTHI] PRIMARY KEY CLUSTERED 
(
	[macum] ASC,
	[diadiem] ASC,
	[phongthi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIAPHUONG]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIAPHUONG](
	[madp] [char](5) NOT NULL,
	[tenqh] [nvarchar](30) NOT NULL,
	[tentinhthanh] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[madp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEMTOHOP]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEMTOHOP](
	[scmnd] [char](12) NOT NULL,
	[makhoi] [nchar](3) NOT NULL,
	[tongdiem] [decimal](4, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[scmnd] ASC,
	[makhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DKTHI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DKTHI](
	[scmnd] [char](12) NOT NULL,
	[macum] [char](3) NULL,
	[diemuutien] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[scmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOITUONG]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITUONG](
	[madoituong] [int] NOT NULL,
	[tendoituong] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[madoituong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI](
	[makhoi] [nchar](3) NOT NULL,
	[tenkhoi] [nvarchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[makhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI_NGANH]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOI_NGANH](
	[manganh] [char](10) NOT NULL,
	[makhoi] [nchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manganh] ASC,
	[makhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHCN]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHCN](
	[scmnd] [char](12) NOT NULL,
	[mamon] [char](5) NOT NULL,
	[diem] [decimal](4, 1) NULL,
	[phongthi] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[scmnd] ASC,
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONTHI](
	[mamon] [char](5) NOT NULL,
	[tenmon] [nvarchar](9) NOT NULL,
	[heso] [decimal](4, 1) NULL,
	[ngaythi] [datetime] NULL,
	[giothi] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGANH](
	[manganh] [char](10) NOT NULL,
	[tennganh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[manganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGANH_DAOTAO]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGANH_DAOTAO](
	[manganh] [char](10) NOT NULL,
	[matruong] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manganh] ASC,
	[matruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUYENVONG_THISINH]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUYENVONG_THISINH](
	[scmnd] [char](12) NOT NULL,
	[matruong] [char](3) NOT NULL,
	[manganh] [char](10) NOT NULL,
	[nguyenvong] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scmnd] ASC,
	[nguyenvong] ASC,
	[matruong] ASC,
	[manganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[tendangnhap] [nchar](10) NOT NULL,
	[matkhau] [nchar](10) NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THISINH]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THISINH](
	[scmnd] [char](12) NOT NULL,
	[holot] [nvarchar](30) NOT NULL,
	[ten] [nvarchar](7) NOT NULL,
	[birthday] [datetime] NOT NULL,
	[gioitinh] [char](1) NOT NULL,
	[madoituong] [int] NULL,
	[khuvuc] [char](3) NOT NULL,
	[mathpt] [char](6) NULL,
	[matkhau] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THPT]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THPT](
	[mathpt] [char](6) NOT NULL,
	[tentruong] [nvarchar](50) NOT NULL,
	[madp] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mathpt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOHOPMON_KHOI]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOHOPMON_KHOI](
	[mamon] [char](5) NOT NULL,
	[makhoi] [nchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mamon] ASC,
	[makhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRUONG_DH_CD]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRUONG_DH_CD](
	[matruong] [char](3) NOT NULL,
	[tentruong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[matruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TUYENSINH_DH]    Script Date: 8/8/2017 4:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TUYENSINH_DH](
	[manganh] [char](10) NOT NULL,
	[matruong] [char](3) NOT NULL,
	[diem] [decimal](4, 1) NULL,
	[nam] [int] NOT NULL,
	[soluongsv] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[manganh] ASC,
	[matruong] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUMTHI] ([macum], [tencum], [madp]) VALUES (N'DND', N'Ðại Học Ðà Nẵng', N'04-03')
INSERT [dbo].[DIADIEMTHI] ([macum], [diadiem], [phongthi]) VALUES (N'DND', N'Trường THPT Hoàng Hoa Thám', N'A00       ')
INSERT [dbo].[DIADIEMTHI] ([macum], [diadiem], [phongthi]) VALUES (N'DND', N'Trường THPT Hoàng Hoa Thám', N'A01       ')
INSERT [dbo].[DIADIEMTHI] ([macum], [diadiem], [phongthi]) VALUES (N'DND', N'Trường THPT Hoàng Hoa Thám', N'A02       ')
INSERT [dbo].[DIAPHUONG] ([madp], [tenqh], [tentinhthanh]) VALUES (N'01-01', N'Quận Ba Đình', N'Hà Nội')
INSERT [dbo].[DIAPHUONG] ([madp], [tenqh], [tentinhthanh]) VALUES (N'01-02', N'Quận Hoàn Kiếm', N'Hà Nội')
INSERT [dbo].[DIAPHUONG] ([madp], [tenqh], [tentinhthanh]) VALUES (N'01-03', N'Quận Hai Bà Trưng', N'Hà Nội')
GO
INSERT [dbo].[DIEMTOHOP] ([scmnd], [makhoi], [tongdiem]) VALUES (N'206047186   ', N'A  ', CAST(12.0 AS Decimal(4, 1)))
INSERT [dbo].[DIEMTOHOP] ([scmnd], [makhoi], [tongdiem]) VALUES (N'206047186   ', N'A1 ', CAST(10.0 AS Decimal(4, 1)))
INSERT [dbo].[DKTHI] ([scmnd], [macum], [diemuutien]) VALUES (N'206047186   ', N'DND', NULL)
INSERT [dbo].[DKTHI] ([scmnd], [macum], [diemuutien]) VALUES (N'206047882   ', N'DND', NULL)
INSERT [dbo].[DKTHI] ([scmnd], [macum], [diemuutien]) VALUES (N'206047885   ', N'DND', NULL)
INSERT [dbo].[DOITUONG] ([madoituong], [tendoituong]) VALUES (1, N'Con thuong binh')
INSERT [dbo].[DOITUONG] ([madoituong], [tendoituong]) VALUES (2, N'Giải nhất olymbic')
INSERT [dbo].[KHOI] ([makhoi], [tenkhoi]) VALUES (N'A  ', N'KHOI A')
INSERT [dbo].[KHOI] ([makhoi], [tenkhoi]) VALUES (N'A1 ', N'KHOIA1')
INSERT [dbo].[KHOI] ([makhoi], [tenkhoi]) VALUES (N'B  ', N'KHOI B')
INSERT [dbo].[LICHCN] ([scmnd], [mamon], [diem], [phongthi]) VALUES (N'206047186   ', N'ANH  ', CAST(2.0 AS Decimal(4, 1)), N'10  ')
INSERT [dbo].[LICHCN] ([scmnd], [mamon], [diem], [phongthi]) VALUES (N'206047186   ', N'HOA  ', CAST(4.0 AS Decimal(4, 1)), N'10  ')
INSERT [dbo].[LICHCN] ([scmnd], [mamon], [diem], [phongthi]) VALUES (N'206047186   ', N'LY   ', CAST(6.0 AS Decimal(4, 1)), N'10  ')
INSERT [dbo].[MONTHI] ([mamon], [tenmon], [heso], [ngaythi], [giothi]) VALUES (N'ANH  ', N'Ngoại Ngữ', CAST(2.0 AS Decimal(4, 1)), CAST(0x0000A77F00000000 AS DateTime), CAST(0x0700A8E76F4B0000 AS Time))
INSERT [dbo].[MONTHI] ([mamon], [tenmon], [heso], [ngaythi], [giothi]) VALUES (N'DIA  ', N'Ðịa', CAST(1.0 AS Decimal(4, 1)), CAST(0x0000A77E00000000 AS DateTime), CAST(0x0700D85EAC3A0000 AS Time))
INSERT [dbo].[MONTHI] ([mamon], [tenmon], [heso], [ngaythi], [giothi]) VALUES (N'HOA  ', N'Hóa', CAST(1.0 AS Decimal(4, 1)), CAST(0x0000A77E00000000 AS DateTime), CAST(0x0700A8E76F4B0000 AS Time))
INSERT [dbo].[NGANH] ([manganh], [tennganh]) VALUES (N'5114      ', N'Khoa học giáo dục và đào tạo giáo viên')
INSERT [dbo].[NGANH] ([manganh], [tennganh]) VALUES (N'511402    ', N'Đào tạo giáo viên   ')
INSERT [dbo].[NGANH] ([manganh], [tennganh]) VALUES (N'51140201  ', N'Giáo dục Mầm non')
GO
INSERT [dbo].[NGANH_DAOTAO] ([manganh], [matruong]) VALUES (N'5114      ', N'AD1')
INSERT [dbo].[NGANH_DAOTAO] ([manganh], [matruong]) VALUES (N'511402    ', N'AD2')
INSERT [dbo].[NGANH_DAOTAO] ([manganh], [matruong]) VALUES (N'51140201  ', N'ANH')
INSERT [dbo].[NGUYENVONG_THISINH] ([scmnd], [matruong], [manganh], [nguyenvong]) VALUES (N'206047186   ', N'AD1', N'5114      ', N'NV1')
INSERT [dbo].[NGUYENVONG_THISINH] ([scmnd], [matruong], [manganh], [nguyenvong]) VALUES (N'206047187   ', N'AD2', N'511402    ', N'NV1')
INSERT [dbo].[NGUYENVONG_THISINH] ([scmnd], [matruong], [manganh], [nguyenvong]) VALUES (N'206047882   ', N'ANH', N'51140201  ', N'NV2')
INSERT [dbo].[QUANLY] ([tendangnhap], [matkhau]) VALUES (N'admin     ', N'123       ')
INSERT [dbo].[THISINH] ([scmnd], [holot], [ten], [birthday], [gioitinh], [madoituong], [khuvuc], [mathpt], [matkhau]) VALUES (N'206047186   ', N'Duong Công', N'Thành', CAST(0x00008B2000000000 AS DateTime), N'1', 1, N'2NT', N'04-001', N'456       ')
INSERT [dbo].[THISINH] ([scmnd], [holot], [ten], [birthday], [gioitinh], [madoituong], [khuvuc], [mathpt], [matkhau]) VALUES (N'206047187   ', N'Duong Mỹ', N'Hạnh', CAST(0x000007C300000000 AS DateTime), N'0', 2, N'2  ', N'04-001', N'123       ')
INSERT [dbo].[THISINH] ([scmnd], [holot], [ten], [birthday], [gioitinh], [madoituong], [khuvuc], [mathpt], [matkhau]) VALUES (N'206047882   ', N'duong', N'tatata', CAST(0x00008B2000000000 AS DateTime), N'1', 1, N'2  ', N'04-001', N'1234      ')
INSERT [dbo].[THPT] ([mathpt], [tentruong], [madp]) VALUES (N'01-001', N'THPT Ba Vì', N'01-17')
INSERT [dbo].[THPT] ([mathpt], [tentruong], [madp]) VALUES (N'01-002', N'THPT Bắc Lương Sơn', N'01-19')
INSERT [dbo].[THPT] ([mathpt], [tentruong], [madp]) VALUES (N'01-003', N'THPT Bắc Thăng Long', N'01-13')
GO
INSERT [dbo].[TOHOPMON_KHOI] ([mamon], [makhoi]) VALUES (N'ANH  ', N'A1 ')
INSERT [dbo].[TOHOPMON_KHOI] ([mamon], [makhoi]) VALUES (N'ANH  ', N'D  ')
INSERT [dbo].[TOHOPMON_KHOI] ([mamon], [makhoi]) VALUES (N'DIA  ', N'C  ')
INSERT [dbo].[TRUONG_DH_CD] ([matruong], [tentruong]) VALUES (N'AD1', N'CAO ĐẲNG AN NINH NHÂN DÂN 1')
INSERT [dbo].[TRUONG_DH_CD] ([matruong], [tentruong]) VALUES (N'AD2', N'CAO ĐẲNG AN NINH NHÂN DÂN 2')
INSERT [dbo].[TRUONG_DH_CD] ([matruong], [tentruong]) VALUES (N'ANH', N'HỌC VIỆN AN NINH NHÂN DÂN')
GO
INSERT [dbo].[TUYENSINH_DH] ([manganh], [matruong], [diem], [nam], [soluongsv]) VALUES (N'5114      ', N'AD1', CAST(11.0 AS Decimal(4, 1)), 2017, 220)
ALTER TABLE [dbo].[CUMTHI]  WITH CHECK ADD FOREIGN KEY([madp])
REFERENCES [dbo].[DIAPHUONG] ([madp])
GO
ALTER TABLE [dbo].[DIADIEMTHI]  WITH CHECK ADD  CONSTRAINT [FK_DIADIEMTHI_CUMTHI] FOREIGN KEY([macum])
REFERENCES [dbo].[CUMTHI] ([macum])
GO
ALTER TABLE [dbo].[DIADIEMTHI] CHECK CONSTRAINT [FK_DIADIEMTHI_CUMTHI]
GO
ALTER TABLE [dbo].[DIEMTOHOP]  WITH CHECK ADD FOREIGN KEY([makhoi])
REFERENCES [dbo].[KHOI] ([makhoi])
GO
ALTER TABLE [dbo].[DIEMTOHOP]  WITH CHECK ADD FOREIGN KEY([scmnd])
REFERENCES [dbo].[THISINH] ([scmnd])
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD FOREIGN KEY([macum])
REFERENCES [dbo].[CUMTHI] ([macum])
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD FOREIGN KEY([scmnd])
REFERENCES [dbo].[THISINH] ([scmnd])
GO
ALTER TABLE [dbo].[KHOI_NGANH]  WITH CHECK ADD FOREIGN KEY([makhoi])
REFERENCES [dbo].[KHOI] ([makhoi])
GO
ALTER TABLE [dbo].[KHOI_NGANH]  WITH CHECK ADD FOREIGN KEY([manganh])
REFERENCES [dbo].[NGANH] ([manganh])
GO
ALTER TABLE [dbo].[LICHCN]  WITH CHECK ADD FOREIGN KEY([mamon])
REFERENCES [dbo].[MONTHI] ([mamon])
GO
ALTER TABLE [dbo].[LICHCN]  WITH CHECK ADD FOREIGN KEY([scmnd])
REFERENCES [dbo].[THISINH] ([scmnd])
GO
ALTER TABLE [dbo].[NGANH_DAOTAO]  WITH CHECK ADD FOREIGN KEY([manganh])
REFERENCES [dbo].[NGANH] ([manganh])
GO
ALTER TABLE [dbo].[NGANH_DAOTAO]  WITH CHECK ADD FOREIGN KEY([matruong])
REFERENCES [dbo].[TRUONG_DH_CD] ([matruong])
GO
ALTER TABLE [dbo].[NGUYENVONG_THISINH]  WITH CHECK ADD FOREIGN KEY([manganh])
REFERENCES [dbo].[NGANH] ([manganh])
GO
ALTER TABLE [dbo].[NGUYENVONG_THISINH]  WITH CHECK ADD FOREIGN KEY([matruong])
REFERENCES [dbo].[TRUONG_DH_CD] ([matruong])
GO
ALTER TABLE [dbo].[NGUYENVONG_THISINH]  WITH CHECK ADD FOREIGN KEY([scmnd])
REFERENCES [dbo].[THISINH] ([scmnd])
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD FOREIGN KEY([madoituong])
REFERENCES [dbo].[DOITUONG] ([madoituong])
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD FOREIGN KEY([mathpt])
REFERENCES [dbo].[THPT] ([mathpt])
GO
ALTER TABLE [dbo].[THPT]  WITH CHECK ADD FOREIGN KEY([madp])
REFERENCES [dbo].[DIAPHUONG] ([madp])
GO
ALTER TABLE [dbo].[TOHOPMON_KHOI]  WITH CHECK ADD FOREIGN KEY([makhoi])
REFERENCES [dbo].[KHOI] ([makhoi])
GO
ALTER TABLE [dbo].[TOHOPMON_KHOI]  WITH CHECK ADD FOREIGN KEY([mamon])
REFERENCES [dbo].[MONTHI] ([mamon])
GO
ALTER TABLE [dbo].[TUYENSINH_DH]  WITH CHECK ADD FOREIGN KEY([manganh])
REFERENCES [dbo].[NGANH] ([manganh])
GO
ALTER TABLE [dbo].[TUYENSINH_DH]  WITH CHECK ADD FOREIGN KEY([matruong])
REFERENCES [dbo].[TRUONG_DH_CD] ([matruong])
GO
ALTER TABLE [dbo].[CUMTHI]  WITH CHECK ADD CHECK  (([macum] like '[A-Z][A-Z][A-Z]'))
GO
ALTER TABLE [dbo].[DIAPHUONG]  WITH CHECK ADD CHECK  (([madp] like '[0-9][0-9][-][0-9][0-9]'))
GO
ALTER TABLE [dbo].[DKTHI]  WITH CHECK ADD CHECK  (([diemuutien]>=(0) AND [diemuutien]<=(3.5)))
GO
ALTER TABLE [dbo].[LICHCN]  WITH CHECK ADD CHECK  (([diem]>=(0) AND [diem]<=(10)))
GO
ALTER TABLE [dbo].[MONTHI]  WITH CHECK ADD CHECK  (([heso]>=(1) AND [heso]<=(3)))
GO
ALTER TABLE [dbo].[NGUYENVONG_THISINH]  WITH CHECK ADD CHECK  (([nguyenvong]='NV4' OR [nguyenvong]='NV3' OR [nguyenvong]='NV2' OR [nguyenvong]='NV1'))
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD CHECK  (([holot] like N'[a-z]%'))
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD CHECK  (([khuvuc]='2NT' OR [khuvuc]='3' OR [khuvuc]='2' OR [khuvuc]='1'))
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD CHECK  (([scmnd] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%'))
GO
ALTER TABLE [dbo].[THISINH]  WITH CHECK ADD CHECK  (([ten] like N'[a-z]%'))
GO
ALTER TABLE [dbo].[THPT]  WITH CHECK ADD CHECK  (([mathpt] like '[0-9][0-9][-][0-9][0-9][0-9]'))
GO
USE [master]
GO
